* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$poppins: 'Poppins', sans-serif;

$babby: linear-gradient(
    to bottom,
    #FFE367, 
    #EBB400
);

$brn: #38200b;

$brn-lite: rgba(56, 32, 11, 0.3);

$honeycomb: linear-gradient(
    to bottom, 
    #FFE564, 
    #E4B211
);

$offwht: #fffcd9;

a {
    text-decoration: none;
    color: inherit;
    font-family: $poppins;
}

li {
    list-style-type: none;
}


ul {
    list-style-type: none;
}

.title-and-nav-container {
    background: linear-gradient(#333, #222, #111);
    height: 500px;
}

.title {
    font-family: $poppins;
    color: $offwht;
    font-size: 5rem;
    text-align: center;
    padding: 10px;
}
.detail {
    font-family: $poppins;
    color: $offwht;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.pad {
    padding: 20px;
    & .nav-list {
        display: flex;
        justify-content: space-evenly;
        & button {
            text-transform: uppercase;
            font-size: 1rem;
            padding: 9px 18px;
            background: transparent;
            border: 2px solid transparent;
            border-image: $honeycomb;
            border-image-slice: 1;
            letter-spacing: 1.2px;
            color: #FFE564;
            &:hover,
            &:focus-within {
                background: $honeycomb;
                border: 2px solid transparent;
                border-image: $honeycomb;
                border-image-slice: 1;
                color: #111;
            }
        }
    }
}

.no-pad {
    padding: 20px;
    & .nav-list {
        display: flex;
        justify-content: flex-end;
        & button {
            text-transform: uppercase;
            font-size: 1rem;
            padding: 9px 18px;
            margin-left: 80px;
            background: transparent;
            border: 2px solid transparent;
            border-image: $honeycomb;
            border-image-slice: 1;
            letter-spacing: 1.2px;
            color: #FFE564;
            &:hover,
            &:focus-within {
                background: $honeycomb;
                border: 2px solid transparent;
                border-image: $honeycomb;
                border-image-slice: 1;
                color: #111;
            }
        }
    }
}

.login-buttons {
    align-content: flex-end;
}
.bee-fact-container{
    display: flex;
    justify-content: center;
}
  
.bee-fact-container::before{
    content: ' ';
    background: url('/static/images/matthew-t-rader.jpg');
    filter: blur(8px);
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    z-index: 1;
    opacity: 0.75;
}

.icon-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.bee-icon {
    height: 130px;
    filter: drop-shadow(2px 1px 3.5px $offwht);
}
.fact-container {
    display: flex;
}
  
.bee-facts-title {
    color: $brn;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    display: block;
    position: absolute;
    z-index: 100;
    margin: auto;
    padding-top: 100px;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 3px #f3efb1;
}

.fact-container {
    margin-top: 200px;
    text-align: center;
    font-family: $poppins;
    position: absolute;
    z-index: 2;
    display: block;
    font-size: 1.8rem;
    color: $brn;
    text-shadow: 2px 2px 3px #f3efb1;
}

.facts {
    padding: 20px;
}

.cat-name {
    padding-top: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: $poppins;
    color: $brn;
}

.list-by-category {
    text-align: center;
}

.list-item-category {
    text-align: center;
    font-size: 1.5rem;
    color: $brn;
    padding: 10px;
}

.question-link {
    border-bottom: 2px $brn solid;
}

.smol-nav {
    background: linear-gradient(#333, #222, #111);
    height: 80px;
}

.li-parent {
    padding: 20px;
    display: flex;
}
.li-item {
    padding-top: 10px;
    font-size: 1rem;
    font-family: $poppins;
    padding-left: 20px;
    color: $offwht;
    text-transform: lowercase;
}
.beehub-title {
    font-size: 1.8rem;
    text-transform: lowercase;
    font-family: $poppins;
    background: $honeycomb;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bee-icon-smol {
    height: 80px;
    margin-top: -20px;
    filter: drop-shadow(2px 1px 3px $offwht);
}

.content-container {
    background: $babby;
    height: 600px;
}

#login-stuff {
    display: flex;
    padding-left: 48%;
    justify-content: flex-end;
}

// #flex-end {
//     align-self: baseline;
// }

.title-q {
    text-align: center;
    margin-left: 100px;
    font-family: $poppins;
    display: inline-block;
    color: $brn;
}
.body-t {
    text-align: center;
    font-family: $poppins;
    color: $brn;
}

.body-q {
    text-align: center;
    font-family: $poppins;
    color: $brn;
}
.body-u {
    text-align: center;
    color: $brn;
}
#question-like {
    text-align: center;
}

.move {
    margin-left: 60px;
}

hr {
    border-color: $brn-lite;
    margin-bottom: 20px;
}

.ea-answer {
    font-family: $poppins;
    color: $brn;
}