* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$poppins: 'Poppins', sans-serif;

a {
    text-decoration: none;
    color: inherit;
    font-family: $poppins;
}


ul {
    list-style-type: none;
}
.title-and-nav-container {
    background: linear-gradient(#333, #222, #111);
    padding: 80px;
}

.title {
    font-family: $poppins;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}
.detail {
    font-family: $poppins;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

nav {
    padding: 20px;
    & .nav-list {
        display: flex;
        justify-content: space-evenly;
        & button {
            text-transform: uppercase;
            font-size: 1rem;
            padding: 9px 18px;
            background: transparent;
            border: solid #fcd01c 2px;
            letter-spacing: 1.2px;
            color: #fcd01c;
            &:hover,
            &:focus-within {
                background: linear-gradient(
                    to bottom, 
                    #fcd01c, 
                    rgb(255, 166, 0)
                );
                border: solid linear-gradient(#333, #222, #111) 2px;
                color: #111;
                transition: color 0.3s ease-in-out;
                transition: border-bottom 0.2s ease-in-out;
            }
        }
    }
}

.bee-fact-container{
    display: flex;
    justify-content: center;
}
  
.bee-fact-container::before{
    content: ' ';
    background: url('/static/images/matthew-t-rader.jpg');
    filter: blur(6px);
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    z-index: 1;
    opacity: 0.75;
}
  
.bee-facts-title {
    color: #111;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    display: block;
    position: absolute;
    z-index: 99;
    margin: auto;
    padding-top: 100px;
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px 2px #e5e0f5;
}

.facts {
    text-align: center;
    font-family: $poppins;
    position: absolute;
    z-index: 100;
    margin: auto;
    display: block;
    font-size: 1.8rem;
    padding: 20px;
    color: #111;
}
