<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'main.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>BeeHub</title>
</head>
<body>
    <header>
        <div class="title-and-nav-container">
            <h1 class="title">BeeHub</h1>
                <h2 class="detail">Your ultimate resource for all things bee!</h2>
                <nav>
                    <ul class="nav-list">
                        <li><button><a href="#">Species</a></button></li>
                        <li><button><a href="#">Beekeeping</a></button></li>
                        <li><button><a href="#">Causes</a></button></li>
                    </ul>
                </nav>
        </div>
    </header>
    <main>
        <div class="content">{% block content %}{% endblock %}</div>
    </main>
</body>
</html>