<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'main.js' %}" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>BeeHub</title>
</head>
<body>
    <header>
            <div class="float-class">
                    <ul class="buttons-container">
                        {% if request.user.is_authenticated %}
                        <li class="actual-button-list"><a href="{% url 'auth_logout' %}"><button type="button">Logout</button></a></li>
                        {% else %}
                      <li class="actual-button-list"><a href="{% url 'auth_login' %}"><button type="button">Login</button></a></li>
                      <li class="actual-button-list"><a href="{% url 'registration_register' %}"><button type="button">Signup</button></a></li>
                        {% endif %}
                    </ul>
                  </div>
        <div class="title-and-nav-container">
            <h1 class="title">BeeHub</h1>
                <h2 class="detail">Your ultimate resource for all things bee!</h2>
                <nav>
                    <ul class="nav-list">
                        <li><button><a href="/category-list/5">Species</a></button></li>
                        <li><button><a href="/category-list/6">Beekeeping</a></button></li>
                        <li><button><a href="/category-list/7">Causes</a></button></li>
                    </ul>
                </nav>
        </div>
    </header>
    <main>
        <div class="content">{% block content %}{% endblock %}</div>
    </main>
</body>
</html>
