{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="content-container">

  <div class="button-span-container" id="question-like">
     <h1 class="title-q">{{ question.title }}</h1>
     <button class="mark-liked move">Like</button>
     <span class="count-liked">{{ question.liked }}</span>
  </div>

  <p class="body-q">{{ question.body }}</p>
  <p class="body-t">{{ question.timestamp }}</a></p>
  <p class="body-u"><a href="{{ question.user.get_absolute_url }}">{{ question.user.username }}</a></p>

    {% for answer in question.answer_set.all %}

    <div class="button-span-container">
        <button data-pk="{{ answer.pk }}" class="mark-liked">Like</button>
        <span class="count-liked">{{ answer.liked }}</span>
    </div>

    <p class="ea-answer">{{ answer.user.username }} ({{ answer.timestamp }}) - {{ answer.body }}</p>
    <hr>
    {% endfor %}

  <div class="form-container">
      <form method="POST" id="reply-form" class="reply-form" novalidate>
          {% csrf_token %}
          {{ form }}
          <table>
              <th>{{ field.help_text}}</th>
              <td>
                  {{ field }}
              </td>
          </table>
          <button id="reply" type="submit">Reply</button>
      </form>
  </div>

</div>
{% endblock %}