<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'main.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Beehub</title>
</head>
<header>
    <div class="title-and-nav-container">
            <nav class="no-pad">
                <ul class="nav-list">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}"><button class="login-buttons" type="button">Logout</button></a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}"><button class="login-buttons" type="button">Login</button></a></li>
                    <li><a href="{% url 'registration_register' %}"><button class="login-buttons"  type="button">Signup</button></a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="icon-container">
                <img class="bee-icon" src="/static/images/bee-bee.png">
            </div>
            <h1 class="title">Beehub</h1>
            <h2 class="detail">A community for bee enthusiasts to ask questions and learn from one another</h2>
            <nav class="pad">
                <ul class="nav-list">
                    <li><button><a href="/category-list/5">Species</a></button></li>
                    <li><button><a href="/category-list/6">Beekeeping</a></button></li>
                    <li><button><a href="/category-list/7">Causes</a></button></li>
                    <li><button><a href="/question/new/">Ask</a></button></li>
                    <li><button><a href="{% url 'index' %}">Home</a></button></li>
                </ul>
            </nav>
    </div>
</header>
<main>
</main>
<div class="bee-fact-container">
    <h2 class="bee-facts-title">Sweet facts!</h2>
        <ul class="fact-container">
            <li class="facts">Honey bees gather nectar from two million flowers to make just one pound of honey.</li>
            <li class="facts">Honey bees communicate with one another by dancing.</li>
            <li class="facts">Honey bees are the only insect in the world that make food that humans can eat.</li>
        </ul>
</div>