{% extends "base.html" %}

{% block content %}
<div class="bee-fact-container">
    <h2 class="bee-facts-title">Bee facts!</h2>
        <ul class="fact-container">
            <li class="facts">Honey bees gather nectar from two million flowers to make just one pound of honey.</li>
            <li class="facts">Honey bees communicate with one another by dancing.</li>
            <li class="facts">Bees are the only insect in the world that make food that humans can eat.</li>
        </ul>
</div>

<ul class="question-list">
    {% for question in question_list %}
        <li><a href="{% url 'question' question.pk %}">{{ question.title }}</a></li>
</ul>
{% endfor %}
{% endblock %}